/* 外层盒子 宽度960像素，外边框上下0，左右自动*/
.wrap{
    width: 960px;
    margin: 0 auto;
}

/* 头部 */
.top-header{
    margin: 10px 0;
}

figure {
    float: left;
}
figure img{
    width: 80px;
    height: 80px;
}

/* 侧边栏 靠左侧浮动, 宽度为350像素*/
.left-aside{
    float: left;
    width: 350px;
}

/* 主内容区域 */
main{
    background: burlywood top left;
    padding: 20px;
    margin-left: 360px;
}
/*页脚*/
.page-footer{
    clear: both;
    padding: 15px;
    margin-top: 10px;
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    font-size: 90%;
}